body {
    background-color: rgba(216, 86, 86, 0.849);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
}

* {
    margin: auto;
    color: white;
}

header {
    text-align: center;
    padding: 10px;
}